{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="uk">

  <head>
    <meta charset="UTF-8"/>
    <title>
      Сервіс обліку студентів - {% block meta_title %}{% endblock meta_title %}
    </title>
    <meta name="description"
          value="Система обліку студентів навчального закладу" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Include Styles -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ PORTAL_URL }}{% static "css/main.css" %}">

    {% block extra_css %}{% endblock extra_css %}
  </head>

  <body>
    <!-- Start Container -->
    <div class="container">

      <!-- Start Header -->
      <div class="row" id="header">

        {% block logo %}
        <!-- Logo -->
        <div class="col-xs-7">
          <h1>Сервіс обліку студентів</h1>
        </div>
        {% endblock logo %}

        {% block groups_selector %}
        <!-- Groups Selector -->
        <div class="col-xs-5" id="group-selector">
          <strong>Група:</strong>
          <label>
            <select>
              <option value="">Усі студенти</option>
              <option value="">АУ-35, Салітринський Володимир (№ 235)</option>
              <option value="">АТ-32, Іванов Іван (№ 2123)</option>
              <option value="">АУ-34, Петров Петро (№ 1536)</option>
            </select>
          </label>
        </div>
        {% endblock groups_selector %}

      </div>
      <!-- End Header -->

      <!-- Start SubHeader -->
      <div class="row" id="sub-header">
        <div class="col-xs-12">
          <ul class="nav nav-tabs" role="tablist">
            {% url "home" as url_students %}
            {% url "groups" as url_groups %}
            {% url "journal_edit" as url_journal %}

            <li role="presentation"
                {% if url_students == request.path %}class="active"{% endif %}>
              <a href="{% url "home" %}">Студенти</a></li>
            <li role="presentation"
                {% if url_groups in request.path %}class="active"{% endif %}>
              <a href="{% url "groups" %}">Групи</a></li>
            <li role="presentation"
                {% if url_journal in request.path %}class="active"{% endif %}>
              <a href="{% url "journal_edit" %}">Відвідування</a></li>
          </ul>
        </div>
      </div>
      <!-- End SubHeader>

      <!-- Start Page Content -->
      <div class="row" id="content-columns">

        <div class="col-xs-12" id="content-column">

          <!-- Status Message -->
          {% comment "Not used alert so far" %}
          <div class="alert alert-warning" role="alert">Статус оновлено!</div>
          {% endcomment %}

          <h2>{% block title %}{% endblock title %}</h2>

          {% block content %}{% endblock content %}
            <!-- End Students Listing -->

        </div>

      </div>
      <!-- End Page Content -->

      {% block footer %}
      <!-- Start Footer -->
      <div class="row" id="footer">
        <div class="col-xs-12">
          &copy; 2016 Сервіс обліку студентів
        </div>
      </div>
      <!-- End Footer -->
      {% endblock footer %}

    </div>
    <!-- End Container -->


    <!-- Javascripts Section -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block extra_js %}{% endblock extra_js %}
  </body>
</html>
