{% extends "students/base.html" %}

{% block meta_title %}Екзамени{% endblock meta_title %}

{% block title %}Екзамени{% endblock title %}

{% block content %}
<!-- Add Exam Button -->
<a class="btn btn-primary"
   href="{% url "exams_add" %}">Додати екзамен</a>

<div>
  <!-- Start Exams Listing -->
  <table class="table table-hover table-striped">
    {% with order_by=request.GET.order_by reverse=request.GET.reverse %}
    <thead>
      <tr>
        <th>
          <a href="{% url "exams" %}?order_by=id{% if not order_by or order_by == 'id' and reverse != '1' %}&amp;reverse=1{% endif %}">
            #
            {% if not order_by or order_by == 'id' and reverse != '1' %}
              &uarr;
            {% elif order_by == 'id' and reverse == '1' %}
              &darr;
            {% endif %}
          </a>
        </th>
        <th>Предмет</th>
        <th>
          <a href="{% url "exams" %}?order_by=date{% if order_by == 'date' and reverse != '1' %}&amp;reverse=1{% endif %}">
            Дата та час проведення
            {% if order_by == 'date' and reverse != '1' %}
              &uarr;
            {% elif order_by == 'date' and reverse == '1' %}
              &darr;
            {% endif %}
          </a>
        </th>
        <th>Викладач</th>
        <th>
          <a href="{% url "exams" %}?order_by=group{% if order_by == 'group' and reverse != '1' %}&amp;reverse=1{% endif %}">
            Група
            {% if order_by == 'group' and reverse != '1' %}
              &uarr;
            {% elif order_by == 'group' and reverse == '1' %}
              &darr;
            {% endif %}
          </a>
        </th>
        <th>Дія</th>
      </tr>
    </thead>
    {% endwith %}

    <tbody>
      {% for exam in exams %}
      <tr>
        <td>{{ exam.id }}</td>
        <td><a title="Редагувати"
               href="{% url "exams_edit" exam.id %}">
              {{ exam.teaching }}</a></td>
        <td><a title="Редагувати"
               href="{% url "exams_edit" exam.id %}">
              {{ exam.date }}</a></td>
        <td><a title="Редагувати"
               href="{% url "exams_edit" exam.id %}">
              {{ exam.teacher }}</a></td>
        <td><a title="Редагувати"
               href="{% url "exams_edit" exam.id %}">
              {{ exam.group }}</a></td>
        <td>
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle"
                    type="button" data-toggle="dropdown">Дія
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li role="presentation">
                <a role="menuitem" tabindex="-1"
                   href="{% url "exams_edit" exam.id %}">
                  Редагувати</a>
              </li>
              <li role="presentation">
                <a role="menuitem" tabindex="-1"
                   href="{% url "exams_delete" exam.id %}">
                  Видалити</a>
              </li>
            </ul>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <!-- End Exams Listing -->

  {% include "students/pagination.html" %}
</div>
{% endblock content %}
