/* Global Styles */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* Це коментар в CSS */
.alert {
  /* Додаємо відстань лише зверху елемента: -top */
  margin-top: 10px;
}

/* пошук елементу футера по його унікальному ідентифікатору footer */
#footer {
  /* задаємо верхню межу елемента: ширина лінії, тип лінії, колір лінії */
  border-top: 1px solid #dddddd;
  /* задаємо внутрішню відстань елемента до верхнього краю */
  padding-top: 10px;
}

/* Groups Selector #1 */
#group-selector {
  margin-top: 30px;
}
#group-selector select {
  margin: 0;
  width: 85%;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  height: 30px;
  line-height: 30 px;
  color: #555555;
}

/* Groups Selector #2 */
#group-selector2 select {
  margin: 0;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  height: 30px;
  line-height: 30 px;
  color: #555555;
}

th {
  text-align: center;
}

td {
  text-align: center;
}

td.day-box {
  vertical-align: middle !important;
}
